<a href="https://colab.research.google.com/github/julpatel/CV/blob/master/Pre-Work_Quizes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func(a):
  print(a)

A = [0,1,2,3]
func(A)

[0, 1, 2, 3]

In [ ]:
def say(message, times):
  print(message*times)
say("How are you", 2)

How are youHow are you

In [ ]:
repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [ ]:
alphabet = ['a','b','c']
for i in alphabet:
  print(i)

a
b
c

In [ ]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)
len(number)

1
144
576
1296
121
400
2500

7

In [ ]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
color.pop(5)
print(color)

['white', 'red', 'blue', 'green', 'blue', 'black']

In [ ]:
print ("Good Bye")

Good Bye

In [ ]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
car["year"] = 2019
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 2019}

In [ ]:
a = 2021
print (a%2)

1

In [ ]:
for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
n = 10
i = 1
while i <= n:
 print(i)
 i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 21):
 if i % 2 != 0:
     print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
n = 8
for i in range(1, 11):
 print("{} * {} =".format(n, i), n*i)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
for i in range(1, 10):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else:
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz

In [ ]:
st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
     count = count + 1
print(count)

5

In [ ]:
a = "Data Science"
for i in range(0, 5):
 print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

In [ ]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [ ]:
sum = 0
for i in range(1, 101):
  sum=sum+i
 # missing code
print(sum)

5050

In [ ]:
def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)

mths(9, 5)

14
4
45
1

In [ ]:

for i in range(1, 11):
     print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
def simple_interest(p, r, t):
  si = (p * r * t) / 100
  return si


simple_interest(1000,10,10)

1000.0

In [ ]:
def chk(a):
 if a % 25 == 0:
     return True
 else:
     print("Not Divisible")

chk(51)

Not Divisible

In [ ]:
def power(a, b):
 return a ** b
power(7,2)

49

In [ ]:
def num(x):
 y = x * x
 z = y + 5
 return z

print(num(5))

30

In [ ]:
function = lambda x: x * x + 5

In [ ]:
def area(base, height):
 return 0.5 * base * height
area(5, 10)

25.0

In [ ]:
def greet(country):
 print("I am from", country)
greet("Sweden")

I am from Sweden

In [ ]:
def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

Temperature in Fahrenheit = 68.0

In [ ]:
for i in range (0,11):
  mul = 5*i
  print("5 X",i, " = ", mul )

5 X 0  =  0
5 X 1  =  5
5 X 2  =  10
5 X 3  =  15
5 X 4  =  20
5 X 5  =  25
5 X 6  =  30
5 X 7  =  35
5 X 8  =  40
5 X 9  =  45
5 X 10  =  50

In [ ]:
numbers = int(input())

# Write your code below
sum = 0
for i in range(0,numbers+1):
    sum = sum + i
    print ("sum in side the loop", sum)
print ("sum outside the loop", sum)

12
sum in side the loop 0
sum in side the loop 1
sum in side the loop 3
sum in side the loop 6
sum in side the loop 10
sum in side the loop 15
sum in side the loop 21
sum in side the loop 28
sum in side the loop 36
sum in side the loop 45
sum in side the loop 55
sum in side the loop 66
sum in side the loop 78
sum outside the loop 78

In [ ]:
n = 10
i=0
while n >=i:
  print(i)
  i += 2

0
2
4
6
8
10

In [ ]:
numbers = input().split()
print (numbers)
for i in numbers:
  i = int(i)
  if i % 2 == 1:
    continue
  print (i)

In [ ]:
s = input()
n = 0
while n < len(str) :
  print(s[n])
  n += 1

In [ ]:
myList = [11,2,13,4,15]
outList = []
for i in myList :
  outList.append(i**2)
print (outList)

In [ ]:
myList = [1,2,3, 9 , 19]
outList = [i**2 for i in myList]
oddList = [i for i in myList if i % 3 == 0  ]
print (outList)
print (oddList)

In [ ]:
def square(a):
  return (a*a)
square(2)

4

In [ ]:
input_list = [5, 9, 3, 11, 7]

# Write your code below
def find_max(list):
  max=list[0]
  for i in range(len(list) - 1):
    if max <= list[i+1]:
      max = list[i+1]
  return max

maximum = find_max(input_list)
print (maximum)

11

In [ ]:
a = int(input())
b = int(input())
c = int(input())

def avg(a,b,c):
  return ((a+b+c)/3)

print (avg(a,b,c))

2
3
4
3.0

In [ ]:
name = input()
age = int(input())

class Person:
    def __init__(self,name,age):
        # Write your code below
        self.name = name
        self.age = age
        print ("Name:", self.name)
        print ("Age:", self.age)

# Create an object of the 'Person' class
person = Person(name,age)

Atul
25
Name: Atul
Age: 25

In [ ]:
# You are given a class named 'Rectangle' with attributes 'length' and 'width'. Write a program to create an object of the 'Rectangle' class and set the attributes to the given values. Finally, calculate and print the area of the rectangle.

class Rectangle:
    def __init__(self,l,w):
        # Write your code below
        self.lgt = l
        self.wgt = w
        print ("Area:", self.lgt*self.wgt)

# Create an object of the 'Rectangle' class
length = int(input())
width = int(input())
rectangle = Rectangle(length, width)

5
10
Area: 50

In [ ]:
class Person:
    def __init__(self, name, age):
        # Write your code below
        self.name = name
        self.age = age




# Create an object of the Person class
name = str(input())
age = int(input())
person = Person(name, age)

# Print the attributes of the person object
print(person.name)
print(person.age)

Ashok
40
Ashok
40

In [ ]:
name1 = input()
name2 = input()

# Class definition
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

# Creating an object
person1 = Person(name1, name2)

# Accessing object variables

# Write your code below
print (person1.first_name, person1.last_name)

John
Doe
John Doe